@import '_variables';

.containerGlobal {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: map-get($colors, white-mirrow);
}

.content {
    flex: 1;
    height: 100%;
    background-color: map-get($colors, white-content);
    margin: 1rem;
}
